.project
.settings
.classpath
.metadata/*
.class
Weeda/bin/*
*/UserInterfaceState.xcuserstate
*/WorkspaceSettings.xcsettings


WeedaForiPhone/WeedaForiPhone.xcodeproj/project.xcworkspace/xcuserdata/LV.xcuserdatad/UserInterfaceState.xcuserstate
