.metadata/*
.metadata/.mylyn/tasks.xml.zip

.metadata/.mylyn/tasks.xml.zip

*.snap

.metadata/.plugins/org.eclipse.core.resources/.projects/Weeda/.markers.snap

.metadata/.mylyn/tasks.xml.zip

*.zip

.metadata/.plugins/org.eclipse.jdt.core/3033265164.index

.metadata/.plugins/org.eclipse.epp.usagedata.recording/usagedata.csv

.metadata/.plugins/org.eclipse.core.resources/.projects/Weeda/.syncinfo.snap

.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap

.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources

.metadata/.plugins/org.eclipse.core.resources/.snap

Weeda/bin/com/weeda/dao/WeedAccessor.class
